<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/assets/css/admin/authorManage.css">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
</head>
<body>

{{>member/admin/header}}
            <div class="admin_content_wrap">
                <div class="admin_content_subject"><span>작가 관리</span></div>
                <div class="author_table_wrap">

                    <table class="author_table">
                        <thead>
                        <tr>
                            <td class="th_column_1">작가 번호</td>
                            <td class="th_column_2">작가 이름</td>
                            <td class="th_column_3">작가 국가</td>
                            <td class="th_column_4">등록 날짜</td>
                            <td class="th_column_5">수정 날짜</td>
                        </tr>
                        </thead>
                        {{#list}}
                            <tr>
                                <td>{{authorId}} </td>
                                <td><a class="move" href="/member/admin/authorDetail/{{authorId}}">{{authorName}}</a></td>
                                <td>{{nationId}}</td>
                                <td>{{regDate}}</td>
                                <td>{{updateDate}}</td>
                            </tr>
                        {{/list}}
                    </table>
                    {{^list}}
                    <div class="table_empty">
                        등록된 작가가 없습니다.
                    </div>
                    {{/list}}
                    <div class="pagination justify-content-center">
                        <!-- 검색 영역 -->
                        <div class="search_wrap">
                            <form id="searchForm" action="/member/admin/authorManage" method="get">
                                <div class="search_input">
                                    <input type="text" name="keyword" value="{{keyword}}">
                                    <input type="hidden" name="pageNum" value="{{pageNum}}">
                                    <input type="hidden" name="amount" value="{{amount}}">
                                    <button class='btn search_btn'>검 색</button>
                                </div>
                            </form>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-sm" id="next"onclick="javascript:btn()">이전</button>
                        <button type="button" class="btn btn-outline-primary btn-sm" id="next"onclick="javascript:btn2()">다음</button>
                        <input type="hidden" id="index"value="{{pageNum}}">
                        <input type="hidden" id="total"value="{{total}}">
                    </div>
                </div>
                <!-- 페이지 이동 인터페이스 영역 -->
                <div class="pageMaker_wrap" >

                    <ul class="pageMaker">

                        {{! Page }}


                    </ul>

                </div>
            </div>
            </div>
{{>member/admin/footer}}




    </div>    <!-- class="wrap" -->
</div>    <!-- class="wrapper" -->
<script>
{
    {{#modify_result}}
    let mresult = '{{modify_result}}';

    checkmResult(mresult);

    function checkmResult(mresult){

        if(mresult === '1'){
            alert("작가 정보 수정을 완료하였습니다.");
        } else if(mresult === '0') {
            alert("작가 정부 수정을 하지 못하였습니다.")
        }

    }{{/modify_result}}

function btn(){
const a ={index: document.getElementById("index").value
};
    a.index--;
    if(a.index==0){
        alert("이전으로는 갈 수 없습니다.");
        return false;
    }

    const link = '?pageNum='+a.index;

    $('#index').attr("value",a.index);
    location.href=link;


}
function btn2(){
    const a ={index: document.getElementById("index").value,
        total:document.getElementById("total").value};
            a.index++;
    if(a.index>a.total/10+1){
        alert("다음 페이지가 없습니다.");
        return false;
    }

    const link = '?pageNum='+a.index;
    $('#index').attr("value",a.index);
    location.href=link;

}
let searchForm = $('#searchForm');
    /* 작거 검색 버튼 동작 */
    $("#searchForm button").on("click", function(e){

        e.preventDefault();

        /* 검색 키워드 유효성 검사 */
        if(!searchForm.find("input[name='keyword']").val()){
            alert("키워드를 입력하십시오");
            return false;
        }

        searchForm.find("input[name='pageNum']").val("1");

        searchForm.submit();

    });
    /* 작가 상세 페이지 이동 */
    // $(".move").on("click", function(e){
    //
    //     e.preventDefault();
    //
    //     moveForm.append("<input type='hidden' name='authorId' value='"+ $(this).attr("href") + "'>");
    //     moveForm.attr("action", "/member/admin/authorDetail");
    //     moveForm.submit();
    //
    // });
}</script>
</body>
</html>