
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/assets/css/admin/goodsEnroll.css">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
</head>
<body>
{{>member/admin/header}}
            <div class="admin_content_wrap">
                <div class="admin_content_subject"><span>상품 등록</span></div>
            </div>
{{>member/admin/footer}}

</body>
</html>

