{{>main/main}}

<div id = "main">
    <section id = "one">
        <header class="major">
            <h1>게시글 작성</h1>
        </header>
<table class="table">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">글 쓰기</a>
    </section>
</div>
{{>main/main}}