{{>main/main}}

<div id = "main">
    <section id = "one">
        <header class="major">
            <h1>전체 글 보기</h1>
        </header>
        <div class="table-wrapper">
<table class="table-wrapper" style="table-layout: fixed" >
    <colgroup><col style="width:50%;">
    <thead>
    <tr>
        <th scope="col">제목</th>
        <th scope="col">게시글 번호</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    </colgroup>
    <tbody>
    {{#articleList}}
        <tr>
            <td style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap"><a href="/articles/{{id}}">{{title}}</a></td>
            <th style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap">{{id}}</th>

            <td style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap">{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table></div>

<a href="/articles/new">글 쓰기</a>
    </section>

</div>

{{>main/main}}