
{{>layouts/header}}
<div id = "main">
    {{#article}}
        <table class="table" style="table-layout: fixed">
            <thead>
            <tr>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="word-break: break-all">{{writer}}</td>

            </tbody>
        </table>
<table class="table" style="table-layout: fixed">
    <thead>
    <tr>
        <th scope="col">제목</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td style="word-break: break-all">{{title}}</td>

    </tbody>
</table>
        <table class="table" style="table-layout: fixed">
            <thead>
            <tr>
<!--                <th scope="col">ID</th>-->
<!--                <th scope="col">Title</th>-->
                <th scope="col">내용</th>
            </tr>
            </thead>
            <tbody>
            <tr>
<!--                <th style="word-break: break-all">{{id}}</th>-->
<!--                <td style="word-break: break-all">{{title}}</td>-->
                <td style="word-break: break-all">{{content}}</td>
            </tr>
            </tbody>
        </table>

    {{/article}}
<a href="/articles/{{article.id}}/edit"class = "button primary small2">수정</a>
    <a href="/articles"class="button small2">뒤로</a>
<a href="/articles/{{article.id}}/delete" class="button small3" style="float:right">삭제</a>

    <br/><br/><br/><br/>
<hr/>
{{>comments/_comments}}

</div>
